<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LEARNER DOC</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/site.css">
</head>
<body>

<div class="container">
    <h1>Template 个人日常文档记录</h1>

    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa fa-puzzle-piece"> 基础代码片段库</i></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <a href="javascript:void(0)" target="_blank">0150.hideShow</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa fa-puzzle-piece"> 高阶代码片段库</i></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <a href="javascript:void(0)" target="_blank">0150.hideShow</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa fa-book"></i> 学习记录</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <a href="javascript:void(0)" target="_blank">0150.hideShow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container margin-top">
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="row">
                    <div class="link_title"><i class="fa fa-link"></i>友情链接：</div>
                    <ul class="links">
                        <li><a href="http://www.qiyezhu.net" target="_blank">qiyezhu.net</a></li>
                        <li><a href="http://www.phpcorner.net" target="_blank">PhpCorner</a></li>
                    </ul>
                    <p>
                        Power By <a href="#" target="_blank">@phpcorner</a>，Copy Right&copy; 2019-05 ;
                        备案号：<a href="http://www.beian.miit.gov.cn" target="_blank">蜀ICP备12030697号</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>