<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/lib/vue.js"></script>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/site.css">
</head>
<body>
<div id="app" class="container">
    <h1 class="page-header">使用的全局组件</h1>
    <global-component></global-component>


    <h1 class="page-header">使用的局部组件</h1>
    <part-component></part-component>


    <h1 class="page-header">动态绑定组件信息</h1>
    <p><input type="text" v-model="syncMsg"></p>
    <sync-component sync-msg="hello"></sync-component>
    <sync-component :sync-msg="syncMsg"></sync-component>


    <h1 class="page-header">循环数据组件显示</h1>
    <items-component v-for="item in users" v-bind:user="item"></items-component>

    <h1 class="page-header">验证组件demo</h1>
    <valid-component :age=234></valid-component>


</div>
<script type="text/javascript">
    Vue.component('global-component', {
        'template': '<div>I am the global-component.</div>'
    });
    let data = {
        syncMsg: null,
        users: [
            {username: 'qingbing', sex: 'nan'},
            {username: 'yongjing', sex: 'nv'},
            {username: 'nianyi', sex: 'nv'},
            {username: 'chengyi', sex: 'nan'},
        ],
    };
    let vm = new Vue({
        el: '#app',
        data,
        components: {
            'part-component': {
                template: '<div>I am the part-component.</div>'
            },
            'sync-component': {
                // props : ['syncMsg'],
                props: {
                    syncMsg: {
                        validator: function (value) {
                            // 这个值必须匹配下列字符串中的一个
                            return ['success', 'warning', 'danger'].indexOf(value) !== -1
                        }
                    }
                },
                template: '<div>I am the sync-component. message : {{syncMsg}}</div>'
            },
            'items-component': {
                props: ['user'],
                template: '<div>username : {{user.username}}, sex : {{user.sex}}</div>'
            },
            'valid-component': {
                props: {
                    age: Number,
                },
                template: '<div>username : {{age}},</div>'
            },
        },
    });
</script>

</body>
</html>